<div class="dashboard-card">
  <h2>Equipment Overview</h2>
  <div class="metrics-grid">
    <div class="metric-box inventory">
      <p>Inventory</p>
      <h3>{{ metrics.inventory }}</h3>
    </div>
    <div class="metric-box critical">
      <p>Critical Machines</p>
      <h3>{{ metrics.criticalMachines }}</h3>
    </div>
    <div class="metric-box safe-index">
      <p>Safe Index</p>
      <h3>{{ metrics.safeIndex }}%</h3>
    </div>
    <div class="metric-box technician">
      <p>Available Technicians</p>
      <h3>{{ metrics.availableTechnician }}</h3>
    </div>
    <div class="metric-box sites">
      <p>Total Sites</p>
      <h3>{{ metrics.totalSites }}</h3>
    </div>
    <div class="metric-box audit">
      <p>Machines on Audit</p>
      <h3>{{ metrics.totalMachinesOnAudit }}</h3>
    </div>
  </div>


</div>
