.user-form {
  width: 400px;
  margin: 40px auto;
  padding: 24px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.user-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 30px;
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 18px;
  color: #444;
}

.form-group input ,select{
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  padding: 14px;
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #303f9f;
}
