<nav class="navbar">
  <span class="username">
    <img src="../../assets/images/chennai-petroleum-corporation-cpcl-seeklogo.png" class="img-style" alt="logo" />
    Hi, {{user.username | sentenceCase}}</span>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="clearFilters()" class="navbar-tabs"
    *ngIf="user.role === 'SP' || user.role === 'AD'">
    <mat-tab label="Home"></mat-tab>
    <mat-tab label="Machine Audits"></mat-tab>
    <mat-tab label="Audit History"></mat-tab>
    <mat-tab label="Machines"></mat-tab>
    <mat-tab label="Users" *ngIf="user.role==='AD'"></mat-tab>
  </mat-tab-group>
  <div class="btns">
    <button class="bell-icon" #bell (click)="togglePopup()">
      <ng-container *ngIf="this.notifications.length">🔔</ng-container>
      <ng-container *ngIf="!this.notifications.length"><span style="color: grey; filter: grayscale(100%);">🔔</span></ng-container>
    </button>
    <button class="logout-btn" (click)='onClickLogout()'>Logout</button>
  </div>
</nav>

<div class="content">

  <ng-container *ngIf="user.role === 'AD' || user.role ==='SP'">
    <ng-container [ngSwitch]="selectedTabIndex">
      <ng-container *ngSwitchCase="0">
        <app-dashboard-card></app-dashboard-card>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <!-- Panel Content -->
         <div class="filter-container">
            <div class="search-container">
              <input
                type="text"
                placeholder="Search..."
                [(ngModel)]="searchText"
                style="padding: 8px; width: 300px; border: 1px solid #ccc; border-radius: 4px;"
              />

              <button class="logout-btn" (click)="onClickClear()">Clear</button>
            </div>
            <div class="search-container">
              <select
                id="machine_type"
                [(ngModel)]="selectedMachineType"
                name="machine_type"
                style="padding: 8px; width: 300px; border: 1px solid #ccc; border-radius: 4px;"
              >
                <option value="" disabled selected hidden>Select Machine Type</option>
                <option value="">All</option>
                <option *ngFor="let type of ['Transformer', 'Compressor']" [value]="type">{{ type }}</option>
              </select>

              <select
                id="area"
                [(ngModel)]="selectedAreaType"
                name="area"
                style="padding: 8px; width: 300px; border: 1px solid #ccc; border-radius: 4px;"
              >
                <option value="" disabled selected hidden>Select Area</option>
                <option value="">All</option>
                <option *ngFor="let type of areaOptions" [value]="type">{{ type }}</option>
              </select>
            </div>

         </div>
        <div *ngIf="user.role === 'SP' || user.role === 'AD'">
          <p>{{this.data?.duelist?.length === 0? 'Due List': ''}}</p>
          <div >
            <div class="table-tabs"><button class='tabs-btn' (click)="toggleList('Pending')" [ngClass]="{'active-tab': listToShow==='Pending'}">Pending Audits</button><button class='tabs-btn'  (click)="toggleList('Audit')" [ngClass]="{'active-tab': listToShow==='Audit'}">Audits</button><div class="empty"></div></div>
            <ng-container *ngIf="listToShow === 'Pending'">
                <app-dynamic-table [databaseList]="filteredItems(this.data?.dueList)" title="NO TITLE" [removeKeys]="tableConfig.removeKeys"
                [dateKeys]="tableConfig.dateKeys" [orderKeys]="tableConfig.orderKeys" [actionKeys]="tableConfig.actionKeys"
                [renameHeaderKeys]="tableConfig.renameHeaderKeys" [actionButtonType]="tableConfig.actionButtonType"
                (openModal)="openAuditDialog($event)"></app-dynamic-table>

            </ng-container>

            <ng-container *ngIf="listToShow === 'Audit'">

              <app-dynamic-table [databaseList]="filteredItems(this.data?.auditList)" title="NO TITLE"
                [removeKeys]="tableConfig.removeKeys" [dateKeys]="tableConfig.dateKeys" [orderKeys]="tableConfig.orderKeys"
                [actionKeys]="tableConfig.actionKeys" [renameHeaderKeys]="tableConfig.renameHeaderKeys"
                [actionButtonType]="tableConfig.actionButtonType" (openModal)="openAuditDialog($event)"></app-dynamic-table>

            </ng-container>

          </div>

        </div>

      </ng-container>
      <ng-container *ngSwitchCase="2">
        <!-- History Content -->
         <div class="filter-container">
            <div class="search-container">
              <input
                type="text"
                placeholder="Search..."
                [(ngModel)]="searchText"
                style="padding: 8px; width: 300px; border: 1px solid #ccc; border-radius: 4px;"
              />

              <button class="logout-btn" (click)="onClickClear()">Clear</button>
            </div>

         </div>
          <div >

            <div class="table-tabs"><button class='tabs-btn' (click)="toggleList2('Transformer')" [ngClass]="{'active-tab': listToShow2==='Transformer'}">Transformer</button><button class='tabs-btn'  (click)="toggleList2('Compressor')" [ngClass]="{'active-tab': listToShow2==='Compressor'}">Compressor</button><div class="empty"></div></div>
            <ng-container *ngIf="listToShow2 === 'Transformer'">
                <app-dynamic-table [databaseList]="filteredItems2(this.analysisdata?.Transformer)" title="NO TITLE"
          [removeKeys]="actableConifg.removeKeys" [dateKeys]="actableConifg.dateKeys"
          [orderKeys]="actableConifg.orderKeys" [actionKeys]="actableConifg.actionKeys"
          [renameHeaderKeys]="actableConifg.renameHeaderKeys" [actionButtonType]="actableConifg.actionButtonType"
          (openModal)="openDetailForm($event)"></app-dynamic-table>

            </ng-container>

            <ng-container *ngIf="listToShow2 === 'Compressor'">

                   <app-dynamic-table [databaseList]="filteredItems2(this.analysisdata?.Compressor)" title="NO TITLE"
          [removeKeys]="actableConifg.removeKeys" [dateKeys]="actableConifg.dateKeys"
          [orderKeys]="actableConifg.orderKeys" [actionKeys]="actableConifg.actionKeys"
          [renameHeaderKeys]="actableConifg.renameHeaderKeys" [actionButtonType]="actableConifg.actionButtonType"
          (openModal)="openDetailForm($event)"></app-dynamic-table>

            </ng-container>

          </div>



      </ng-container>

      <ng-container *ngSwitchCase="3">
        <div *ngIf="user.role === 'AD'" class="padding">
          <h2>Machines</h2>
          <div class="admin-panel">
            <button class="button-styling machine-btn" (click)="openCreateMachine()"> Create New Machine</button>
          </div>
        </div>
        <div class="filter-container">
            <div class="search-container">
              <input
                type="text"
                placeholder="Search..."
                [(ngModel)]="searchText"
                style="padding: 8px; width: 300px; border: 1px solid #ccc; border-radius: 4px;"
              />

              <button class="logout-btn" (click)="onClickClear()">Clear</button>
            </div>
            <div class="search-container">
                <select
                id="machine_type"
                [(ngModel)]="selectedMachineType"
                name="machine_type"
                style="padding: 8px; width: 300px; border: 1px solid #ccc; border-radius: 4px;"
              >
                <option value="" disabled selected hidden>Select Machine Type</option>
                <option value="">All</option>
                <option *ngFor="let type of ['Transformer', 'Compressor']" [value]="type">{{ type }}</option>
              </select>

              <select
                id="area"
                [(ngModel)]="selectedAreaType"
                name="area"
                style="padding: 8px; width: 300px; border: 1px solid #ccc; border-radius: 4px;"
              >
                <option value="" disabled selected hidden>Select Area</option>
                <option value="">All</option>
                <option *ngFor="let type of areaOptions" [value]="type">{{ type }}</option>
              </select>
            </div>

         </div>
        <app-dynamic-table [databaseList]="filteredItems4(this.data?.allList)" title="Machines  List" [removeKeys]="actableConifg.removeKeys"
          [dateKeys]="actableConifg.dateKeys" [orderKeys]="actableConifg.orderKeys" [actionKeys]="actableConifg.actionKeys"
          [renameHeaderKeys]="actableConifg.renameHeaderKeys" [actionButtonType]="actableConifg.actionButtonType"
          (openModal)="openAuditDialog($event)"></app-dynamic-table>
      </ng-container>

      <ng-container *ngSwitchCase="4">
        <div *ngIf="user.role === 'AD'" class="padding">
          <h2>Users</h2>
          <div class="admin-panel">
            <button class="button-styling user-btn" (click)="openCreateUser()"> Create New User</button>
          </div>
        </div>
        <div class="filter-container">
            <div class="search-container">
              <input
                type="text"
                placeholder="Search..."
                [(ngModel)]="searchText"
                style="padding: 8px; width: 300px; border: 1px solid #ccc; border-radius: 4px;"
              />

              <button class="logout-btn" (click)="onClickClear()">Clear</button>
            </div>
            <div>
              <select
                id="machine_type"
                [(ngModel)]="selectedUserType"
                name="machine_type"
                style="padding: 8px; width: 300px; border: 1px solid #ccc; border-radius: 4px;"
              >
                <option value="" disabled selected hidden>Select User Type</option>
                <option value="">All</option>
                <option value="Admin">Admin</option>
                <option value="Supervisor">Supervisor</option>
                <option value="Field Technician">Field technician</option>
                <option value="Lab Technician">Lab technician</option>
                <option value="Engineer Technician">Engineering technician</option>
              </select>
            </div>

         </div>

        <app-dynamic-table [databaseList]="filteredItems3(this.usersList)" title="Users  List" [removeKeys]="userConfig.removeKeys"
          [dateKeys]="userConfig.dateKeys" [orderKeys]="userConfig.orderKeys" [actionKeys]="userConfig.actionKeys"
          [renameHeaderKeys]="userConfig.renameHeaderKeys" [actionButtonType]="userConfig.actionButtonType"
          (openModal)="openDynamicForm($event)"></app-dynamic-table>
      </ng-container>



    </ng-container>
  </ng-container>


  <ng-container *ngIf="user.role !== 'SP' && user.role !== 'AD'" >
    <p>{{this.data?.duelist?.length === 0? 'Due List': ''}}</p>
    <app-dynamic-table  [databaseList]="filteredItems(this.data?.dueList)" title="Pending List" [removeKeys]="actableConifg.removeKeys"
      [dateKeys]="actableConifg.dateKeys" [orderKeys]="actableConifg.orderKeys" [actionKeys]="actableConifg.actionKeys"
      [renameHeaderKeys]="actableConifg.renameHeaderKeys" [actionButtonType]="actableConifg.actionButtonType"
      (openModal)="openDynamicForm($event)"></app-dynamic-table>
  </ng-container>

</div>
