<h2 style="text-align: center;">Notifications</h2>
<div class="notification-panel">
  <div
    *ngFor="let item of notifications; let index = index"
    (click) = 'onClickNotificationItem(item)'
    class="notification-item"
    [ngStyle]="{ 'border-bottom': index !== notifications.length - 1 ? '1px solid #eee' : 'none' }"
  >
    <div class="notification-message">
      <p style="color:grey; font-size: 18px; background-color: #d3d3d3;" [ngStyle]="{'color': !item.is_read ? 'black': 'grey', 'background-color': !item.is_read ? 'white': 'white'}">{{ item?.message }}</p>
    </div>
    <div class='close-btn' (click)="onClickClose(item)"><img src='../../../assets/images/cross.svg' alt='cross'/></div>
  </div>

</div>
<button class="close-all-btn" (click)="onClickCloseAll()">Close all</button>
